* {
  box-sizing: border-box;
}

body {
  color: #181818;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: #ececec;
}

h1 {
  margin: 0 0 1rem 0;
  text-align: center;
}

.card {
  background-color: #ffffff;
  padding: 1.5rem;
  margin: 2rem auto;
  border-radius: 0.25rem;
}

.full {
  width: 100%;
}

.link {
  display: block;
  text-align: right;
}

.link a {
  color: #181818;
}