* {
  box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
  font-family: var(--font-prymary);
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.col-3 {
  width: 33.3333%;
}

.col-full {
  width: 100%;
}

.title {
  color: var(--color-text);
  margin-bottom: 2rem;
  text-align: center;
}

.subtitle {
  color: var(--color-text2);
  margin-bottom: 1.25rem;
}
