.footer {
  background-color: var(--color-secondary);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.foot {
  padding: 0 1rem;
}

.foot__title {
  color: var(--color-on-secondary);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.foot__list {
  padding-left: 1rem;
}

.foot__item {
  margin-bottom: 0.75rem;
}

.foot__link {
  color: var(--color-on-secondary);
  font-weight: 100;
}

.foot__link:hover {
  color: var(--color-gray);
}
