* {
  box-sizing: border-box;
}

h1, h2 {
  margin: 0;
}

.title, .subtitle {
  margin: 0.5rem 1rem 1rem;
}

.container {
  max-width: 1200px;
  width: 1200px;
  margin: 0 auto;
}

.content {
  max-width: 700px;
  margin: 2rem auto;
  text-align: center;
  border: 1px solid #505050;
  border-radius: 0.25rem;
  padding: 1rem;
}

.actions {
  padding: 1rem;
}

.btn {
  cursor: pointer;
  height: 36px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  margin: 0 1rem;
  border: none;
  outline: none;
  transition: background 0.3s ease;
}

.btn-primary {
  background-color: #0084ff;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #157ee0;
}

.btn-secondary {
  background: none;
}

.btn-secondary:hover {
  background-color: #e7e7e7;
}

.field--inline {
  display: inline-block;
}

.field__label {
  display: block;
  text-align: center;
}

.field__input {
  width: 50px;
  height: 40px;
  padding: 0.5rem;
  outline: none;
  text-align: center;
}

.field__input[type=number]::-webkit-inner-spin-button, 
.field__input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.equis {
  font-weight: bold;
}